:root{
    --Navy: #0a192f;
    --Light-Navy: #112240;
    --Lightest-Navy	: #233554;
    --Slate: #8892b0;
    --Light-Slate: #a8b2d1;
    --Lightest-Slate: #ccd6f6;
    --White: #e6f1ff;
    --Green: #64ffda;
	
}

/* Fonts */

/* Define NTR-Regular font */
/* NTR-Regular */
@font-face {
    font-family: 'NTR';
    src: url('./fonts/NTR-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

/* Package (Style not specified, assumed Regular) */
@font-face {
    font-family: 'Package';
    src: url('./fonts/package.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-Black.ttf') format('truetype');
    font-weight: 900; /* Black (Heavy) */
    font-style: normal;
}

/* SourceSerifPro Black Italic */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-BlackItalic.ttf') format('truetype');
    font-weight: 900; /* Black (Heavy) */
    font-style: italic;
}

/* SourceSerifPro Bold */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

/* SourceSerifPro Bold Italic */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('../fonts/SourceSerifPro-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
}

/* SourceSerifPro ExtraLight */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-ExtraLight.ttf') format('truetype');
    font-weight: 300; /* ExtraLight */
    font-style: normal;
}
/* SourceSerifPro ExtraLight Italic */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 300; /* ExtraLight */
    font-style: italic;
}

/* SourceSerifPro Italic */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-Italic.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: italic;
}

/* SourceSerifPro Light */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* SourceSerifPro Light Italic */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic;
}

/* SourceSerifPro Regular */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* SourceSerifPro SemiBold */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

/* SourceSerifPro SemiBold Italic */
@font-face {
    font-family: 'SourceSerifPro';
    src: url('./fonts/SourceSerifPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: italic;
}


/* Repeat for other font variations as needed */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color : var(--Navy) !important;
    font-family: "NTR", sans-serif;
    color: var(--Lightest-Slate) !important;
}

/* NavBar */

.navbar{
    background-color: var(--Light-Navy) !important;
    background: black;
    color: white;

}


.iconContainer {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    text-align: center; 
    line-height: 50px; 
  }


.iconContainer i {
    font-size: 20px; 
    color: #ffffff; 
   
}

.iconContainer i:hover{
    color: #64ffda;
}

.navList{
    font-size: 1rem;
    font-weight: 700;
}
.navList .navbar-brand{
    color: #64ffda;
    /* color: var(--Lightest-Slate); */

}
.navList .navbar-brand:hover{
    color: white;
}

.NavLinks{
color: white;

}
.NavLinks:hover{
    color: var(--Green);
}
.Navlist{
    margin-top: 0.1rem;

}

/* Banner */

.banner h1{
    text-align: center;
    font-size: 2rem !important;
    font-weight: 400;
}
.name{
    font-family: 'NTR';
    color: var(--Green);
    font-size: 2.2rem;

    font-weight: bold;
}

.intro-title{
    color: var(--Slate);
    line-height: 1.7rem;
}
.intro-subtitle {
    margin: 0;
    font-size: 1.5rem;
}
.intro-desc {
    font-size: 1rem;
    max-width: unset;
    padding-bottom: 40px;
}

.btn-outline-success{
    color: var(--Green) !important;
    border-color: var(--Green)!important;
    width: 130px;
    height: 60px;
    padding: 10px 30px;
}

.btn-outline-success div{
    font-size: 1rem;
    margin-right: 0.3rem;
}

.btn-outline-success a{
    color : var(--Green) ;
    font-weight: 500;
}

.btn:hover{
        background-color: none !important;
}
















