<div class="about-content sub-text ">
    <div class="about-description">
      <p>
        I am currently a <b>Software Development Engineer</b> at<a
          href="https://www.aboutamazon.com/"
        >
          Amazon</a
        >, working in the AWS sector under team Route 53. At the same
        time, I am undertaking a part-time <b> Master's of Science</b> in
        <b>Software Engineering </b>at
        <a href="https://www.ox.ac.uk/about">University of Oxford</a>.
      </p>
      Here are some technologies I have been working with:
      <ul class="container tech-stack list-unstyled">
        <div class="row">
          <div class="fade-in-section is-visible col">
            <li>Typescript</li>
          </div>
          <div class="fade-in-section is-visible col">
            <li>Python</li>
          </div>
        </div>
        
        <div class="row">
          <div class="fade-in-section is-visible col">
            <li>React.js</li>
          </div>
          <div class="fade-in-section is-visible col">
            <li>Java</li>
          </div>
        </div>

        <div class="row">
          <div class="fade-in-section is-visible col">
            <li>Javascript ES6+</li>
          </div>
          <div class="fade-in-section is-visible col">
            <li>C#</li>
          </div>
          
        </div>
      </ul>
      <p>
        Outside of work, I'm interested in following the developments of
        science. I also play a lot of video games. And make TikToks.
      </p>
    </div>
  </div>
