<section
          class="banner container-fluid d-flex flex-column align-items-center "
        >
          <div id="fractal-tree"></div>
          <img src="" alt="" />
          <h1 class="">hi, <span class="name">Yousef</span> here.</h1>
          <div class="container intro-title">
            <div class="intro-subtitle text-center mb-3">
              I create stuff sometimes.
            </div>
            <div class="intro-desc text-center">
              I'm a software engineer from Toronto, Canada. I'm fascinated by
              large-scale, high-impact products and contributed to major feature
              launches in industry-leading services as well as apps that have 100M+
              installs.
            </div>
          </div>
          <button
            type="button"
            class="btn btn-outline-success d-flex align-items-center justify-content-center"
          >
            <div class="d-inline"><i class="bi bi-envelope-fill"></i></div>
            <a
              href="mailto:gazijarin@gmail.com"
              class="intro-contact text-decoration-none"
            >
              Say hi!</a
            >
          </button>
        </section>