<nav class="navbar navbar-expand-md d-flex">
    <div class="container-fluid justify-content-end justify-content-around">
      <div class="d-md-flex navList">
        <a class="navbar-brand" href="#">Youssef </a>
        <ul
          class="Navlist d-none d-md-flex align-items-center list-unstyled gap-3 mb-0"
        >
          <li><a href="" class="NavLinks  text-decoration-none">Home</a></li>
          <li><a href="" class="NavLinks text-decoration-none">About</a></li>
          <li><a href="" class="NavLinks text-decoration-none">Experiance</a></li>
          <li><a href="" class="NavLinks text-decoration-none">Project</a></li>
        </ul>
      </div>

      <div class="d-flex">
        <div class="iconContainer"><i class="bi bi-envelope"></i></div>
        <div class="iconContainer"><i class="bi bi-github"></i></div>
        <div class="iconContainer"><i class="bi bi-linkedin"></i></div>
      </div>
    </div>
  </nav>
